<!-- This footer should be hidden by default and shown when there are todos -->
<footer class="footer !h-14">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"
    ><strong>{{ tasks().length }}</strong> item@if(tasks().length !== 1){s}
    left</span
  >
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a routerLink="/" [class.selected]="filter() === TaskFilter.All">All</a>
    </li>
    <li>
      <a
        routerLink="/pending"
        [class.selected]="filter() === TaskFilter.Pending"
        >Pending</a
      >
    </li>
    <li>
      <a
        routerLink="/completed"
        [class.selected]="filter() === TaskFilter.Completed"
        >Completed</a
      >
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  @if (completedAvailable()) {
  <button class="clear-completed" (click)="removeCompleted()">
    Clear completed
  </button>
  }
</footer>
