<section class="todoapp">
  <app-task-header (addTaskEvent)="addTask($event)"></app-task-header>
  @if (tasksBackground.length>0) {
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <app-task-list
      [tasks]="tasks"
      (toggleTaskEvent)="toggleTaskEvent($event)"
      (destroyTaskEvent)="destroyTaskEvent($event)"
      (editTaskEvent)="editTaskEvent($event)"
    ></app-task-list>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <app-task-footer
      [setTasks]="tasks"
      [selectedTask]="selectStatusTask"
      (clearTaskCompletedEvent)="clearTaskCompletedEvent($event)"
    ></app-task-footer>
  </div>
  }
</section>
